[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
flask = "==1.0.2"
flask-restplus = "==0.12.1"
peewee = "*"
mysqlclient = "*"
flask-jwt-extended = "*"
flask-cors = "*"
flask-marshmallow = "*"
validators = "*"
pytz = "*"
requests = "*"
google-cloud-storage = "*"
kubernetes = "*"

[dev-packages]
isort = "*"
autoflake = "*"
pip = "*"
black = "==19.3b0"
gunicorn = "*"
nplusone = "*"

[scripts]
format = "sh -c \"autoflake -i --remove-all-unused-imports --remove-unused-variables -r .; isort --recursive --force-single-line .; black -l 110 -t py37 .;\""
config = "sh -c \"terraform output > config.env\""
freeze = "sh -c \"pipenv lock -r > requirements.txt\""
server = "sh -c \"FLASK_APP=main.py FLASK_ENV=development flask run\""
cron   = "python cron.py"
deploy = "gcloud -q app deploy"
